version: "3.9"

services:
  traefik:
    image: traefik:v3.1
    container_name: traefik
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      # редирект с 80 на 443 
      - "--entrypoints.web.http.redirections.entryPoint.to=websecure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      # ACME
      - "--certificatesresolvers.le.acme.email=shuv1wolf@gmail.com"
      - "--certificatesresolvers.le.acme.storage=/acme.json"
      - "--certificatesresolvers.le.acme.httpchallenge.entrypoint=web"
      # staging-сервер для тестов 
      # - "--certificatesresolvers.le.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./traefik/traefik.yml:/traefik.yml:ro
      - ./traefik/acme.json:/acme.json
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped
    networks: [web]

  app1:
    build: ./pract_one
    container_name: pract_one
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pract_one.rule=Host(`pract_one.shuv1wolf.ru`)"
      - "traefik.http.routers.pract_one.entrypoints=websecure"
      - "traefik.http.routers.pract_one.tls.certresolver=le"
      - "traefik.http.services.pract_one.loadbalancer.server.port=8000"
    networks:
      - web
    restart: unless-stopped

  app2:
    build: ./pract_two
    container_name: pract_two
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pract_two.rule=Host(`pract_two.shuv1wolf.ru`)"
      - "traefik.http.routers.pract_two.entrypoints=websecure"
      - "traefik.http.routers.pract_two.tls.certresolver=le"
      - "traefik.http.services.pract_two.loadbalancer.server.port=8000"
    networks:
      - web
    restart: unless-stopped

  app3:
    build: ./pract_three
    container_name: pract_three
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.pract_three.rule=Host(`pract_three.shuv1wolf.ru`)"
      - "traefik.http.routers.pract_three.entrypoints=websecure"
      - "traefik.http.routers.pract_three.tls.certresolver=le"
      - "traefik.http.services.pract_three.loadbalancer.server.port=8000"
    networks:
      - web
    restart: unless-stopped

networks:
  web:
    driver: bridge